<div class="row">
  <div class="col-xs-12">
    <p>Add new Servers or blueprints!</p>
    <label>Server Name</label>
    <input type="text" class="form-control" [(ngModel)]="newServerName" />
    <label>Server Content</label>
    <input type="text" class="form-control" [(ngModel)]="newServerContent" />
    <label>ViewChild()</label>
    <input type="text" class="form-control" #serverContentInput />
    {{viewChild}}
    <br />
    <button class="btn btn-primary" style="margin: 1rem" (click)="onAddServer()">
      Add Server
    </button>
    <button class="btn btn-primary" style="margin: 1rem" (click)="onAddBlueprint()">
      Add Server Blueprint
    </button>
    <button class="btn btn-primary" style="margin: 1rem" (click)="subirEjemplo()">
      Subir ejemplo
    </button>
  </div>
</div>