<a [routerLink]="[index]" style="cursor: pointer;" class="list-group-item clearfix" routerLinkActive="active">
  <div class="row">
    <div class="col-8">
      <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
      <p class="list-group-item-text">{{ recipe.description }}</p>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
      <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive" style="max-height: 50px;">
    </div>
  </div>
</a>